[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GLFW"]
	path = GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "RogueEngine/vendor/imguidock"]
	path = RogueEngine/vendor/imguidock
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "RogueEngine/vendor/glm"]
	path = RogueEngine/vendor/glm
	url = https://github.com/g-truc/glm.git
